<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='tab.css') }}">
</head>
<body class="container mt-4">

<h2>Agregar Alumno</h2>

<form method="POST">
    <input class="form-control" name="nombre" placeholder="Nombre" required>
    <input class="form-control mt-2" name="materia" placeholder="Materia" required>
    <input class="form-control mt-2" name="escuela" placeholder="Escuela" required>
    <button class="btn btn-primary mt-3">Guardar</button>
</form>

</body>
</html>